name: Build and Deploy

on:
  push:
    branches:
      - main
      - develop

jobs:
  BuildandDeploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write  
      id-token: write 

    environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd ./frontend/elcocinillas
          npm install

      - name: Build Vue App
        run: |
          cd ./frontend/elcocinillas
          npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Fix permissions
        run: chmod -R 777 ./

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # Upload entire repository
          path: './frontend/elcocinillas/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

  TestCypress:
    runs-on: ubuntu-latest
    needs: BuildandDeploy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd ./frontend/elcocinillas
          npm install --force
          npm install cypress --save-dev

      - name: Run Cypress tests
        run: |
          cd ./frontend/elcocinillas
          npm run cypress:run 

  