name: Build and Deploy to Azure

on:
  push:
    branches:
      - US2.7-Task_Mejora_vista
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./backend/requirements.txt
          

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: ./backend/
          tags: leuis123/elcocinillas:latest
          secret-files: FIREBASE_JSON=${{ secrets.APIKEY_FIRESTORE }}

      - name: Az Cli Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.USER_AZURE }}

      - run: |
            az containerapp up --name elcocinillas-api --resource-group elcocinillasGroup --location westeurope --image leuis123/elcocinillas:latest --target-port 80 --ingress external --query properties.configuration.ingress.fqdn